<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.FreeBoradMapper">

	<insert id="insertComment" parameterType="FreeBoard">
		INSERT INTO
		FREEBOARD(ID, TITLE, COMMENT, date, PASSWORD)
		VALUES(#{id},#{title},#{comment},#{date},#{password})
	</insert>

	<update id="updateComment" parameterType="FreeBoard">
		UPDATE FREEBOARD SET
		COMMENT=#{comment} WHERE BOARDNO=#{boardNo}
	</update>

	<delete id="deleteComment" parameterType="Integer">
		DELETE FROM FREEBOARD
		WHERE BOARDNO=#{boardNo}
	</delete>

	<select id="selectComment" parameterType="Integer" resultMap="freeboardMap">
		SELECT * FROM FREEBOARD WHERE BOARDNO=#{boardNo}
	</select>

	<select id="selectCommentList" parameterType="Map" resultMap="freeboardMap">
		SELECT * FROM FREEBOARD ORDER BY BOARDNO DESC
		LIMIT #{startRow},#{rowCount}
	</select>

	<select id="selectCommentTotalCount" resultType="Integer">
		SELECT COUNT(*)
		FROM FREEBOARD
	</select>

	<resultMap type="FreeBoard" id="freeboardMap">
		<result column="BOARDNO" property="boardNo" />
		<result column="ID" property="id" />
		<result column="TITLE" property="title" />
		<result column="COMMENT" property="comment" />
		<result column="date" property="date" />
		<result column="PASSWORD" property="password" />
	</resultMap>

</mapper>
