<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.MemberMapper">
	<insert id="insertMember" parameterType="Member">
		insert into member(id,password,name,nickname,email)
		values(#{id},#{password},#{name},#{nickname},#{email})
	</insert>

	<update id="updateMember" parameterType="Member">
		update member set name=#{name}, nickname=#{nickname}
		where id=#{id}
	</update>

	<delete id="deleteMember" parameterType="String">
		delete from member where id=#{id}
	</delete>


	<select id="select" parameterType="Integer" resultMap="memberMap">
		select * from member where id=#{id}
	</select>

	<select id="selectList" resultMap="memberMap">
		select * from member
	</select>
	
	<resultMap type="Member" id="memberMap">
       <result column="member_num" property="memberNum"/>
       <result column="id" property="id"/>
       <result column="password" property="password"/>       
       <result column="name" property="name"/>
       <result column="nickname" property="nickname"/>
       <result column="email" property="email"/>
	</resultMap>

</mapper>