<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.PreMemberMapper">
	<insert id="insertPreMovie" parameterType="PreMovie">
		insert into
		pre_movie(movie_image,movie_image,genre_1genre_2,stars,story,ymd)
		values(#{movieImage},#{movieImage},#{genre_1},#{genre_2},#{director},#{stars},#{story),#{ymd})
	</insert>

	<!-- <update id="updatePreMovice" parameterType="PreMovie"> -->
	<!-- update PreMovie set -->
	<!-- </update> -->

	<!-- <delete id=""> -->

	<!-- </delete> -->

	<select id="select" parameterType="String" resultMap="premovieMap">
      select * from pre_movie where movie_title=#{movieTitle}
	</select>

<!-- 	<select id="selectFileList" parameterType="Map" resultMap=""> -->
<!--      select * from pre_movie order by file_num desc  -->
<!--              limit #{startRow},#{rowCount}  -->
<!-- 	</select> -->

	<select id="PageTotalCount" resultMap="premovieMap">
      select count(*) from pre_movie
	</select>

	<resultMap type="PreMovie" id="premovieMap">
		<result column="movie_title" property="movieTitle" />
		<result column="movie_image" property="movieImage" />
		<result column="genre_1" property="genre_1" />
		<result column="genre_2" property="genre_2" />
		<result column="director" property="director" />
		<result column="stars" property="stars" />
		<result column="story" property="story" />
		<result column="ymd" property="ymd" />

	</resultMap>

</mapper>